<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="10" >
    <groups>
        <run>
            <include name="regression"/>
        </run>
    </groups>
    <listeners>
        <listener class-name="FunctionalLibrary.SuiteListner"/>
        <listener class-name="FunctionalLibrary.TestListeners"/>
    </listeners>

    <test name="smoke" >
        <parameter name="URL" value="https://rahulshettyacademy.com/seleniumPractise/#/"/>
        <parameter name="title" value="GreenKart - veg and fruits kart"/>
        <classes>
           <class name="TestCases.HomePage"/>
        </classes>
    </test>
</suite>